*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	
}

.todo{
	display: grid;
	grid-template-columns: auto 80%;
	background:  url("./img//a.jpg")no-repeat center center/cover;
}

.c1, .a5{
	color: lightgray;
}

.c2{
	display: grid;
	grid-template-columns: auto auto;
}
.caj{
	margin: 10px;
	border-radius: 30px;
}
.foto{
	padding: 10px;
	width: 250px;
	height: 350px;
	border-radius: 30px;
}

.a1,.a2,.a3,.a4{
	width: 400px;
	height: 290px;
	background:  url("./img//a.jpg")no-repeat center center/cover;
	padding: 20px;
	color:lightgray;
}

.a5{
	grid-column: 1/ 3; 
	width: 814px;
	height: auto;
	background:  url("./img//a.jpg")no-repeat center center/cover;
}

.l1 li{
	list-style:  none;

}
@media (max-width: 700px){
	
	.c2{
	grid-template-columns: auto;	
	}
	.a5{
		grid-column: 1/1; 
	width: 400px;
	height: auto;

	}
	

}
@media (max-width: 500px){
	.todo{
		display: grid;
		grid-template-columns: auto;
		
	}
	.caj{
		margin: auto;
	}
}

@media(max-width: 300px,max-height: 406px){
	.todo{
		display: grid;
		grid-template-columns: auto;
	}
	.caj{
		margin: auto;
	}
}


